@import '../../variables.scss';

.content{
    margin: 10px;
    display: block;
}

.driver{
    padding: 3px;
}

.driverInfo:hover{
    background-color:$primary;
    border-radius: 3px ;
}

.driverInfo{
    display: flex;
    flex-flow: row;
    padding:3px;
}

.name{
    width: 10%;
    margin: 5px;
    padding: 10px;
}